body {
    margin: 0;
    background-image: url("../img/ranger-4df6c1b6.png");
    background-size: cover;
}

a:link,
a,
a:visited,
h1 {
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: cadetblue;
    text-shadow: 1px 1px black;
}

hr {
    opacity: 0.4;
    height: 12px;
    border: none;
    background: linear-gradient(315deg, #734ae8 0%, #89d4cf 74%);
}

#poems {
    width: 90vw;
    display: flex;
    margin: auto;
    justify-content: center;
}

.poem_box {
    transition: 0.25s;
    background-color: lightskyblue;
    width: 400px;
    border-radius: 20px;
    padding: 10px;
    opacity: 0.8;
    margin: 40px;
}

.poem_box:hover {
    opacity: 1;
    background-color: rgb(18, 162, 252);
    scale: 110%;
}

.poem_box>p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px white;
    margin-left: 10px;
    line-height: 23px;
}

#flex_quotes {
    display: flex;
    margin: auto;
    justify-content: center;
}

.flex_box {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: royalblue;
    opacity: 0.9;
    height: 80px;
    margin-right: 40px;
    width: 100px;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    transition: 1s;
}

.flex_box:hover {
    background-color: darkblue;
}

.flex_box>p {
    position: relative;
    bottom: 7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    /* It should be yellow but with the background I found, dark orange looks actually readable */
    color: lightcoral;
    text-shadow: 1px 1px black;
}